@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  box-sizing: border-box;
  color: #161723;
}

.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.25px;
  width: 536px;
  text-align: center;
}

.section-1-item {
  width: 370px;
  display: flex;
  gap: 24px;
}

.section-1-item-title {
  font-weight: 600;
  font-size: 19px;
  line-height: 150%;
  letter-spacing: 0.5px;
}

.section-1-item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #424153;
}

.section-1-item-image {
  object-fit: contain;
}

.section-1-items {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.section-1-content {
  width: 1170px;
  height: 370px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.section-1-image {
  width: 370px;
  height: 370px;
}

@media (max-width: 768px) {
  .section-1-content {
    width: 370px;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}

.section-1-button {
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  background: #ee6f4b;
  width: 100%;
  max-width: 462px;
  height: 48px;
  border-radius: 6px;
  padding: 12px 40px;
  border: none;
  outline: none;
  cursor: pointer;
}

.section-1-action-desc {
  display: flex;
  gap: 24px;
  margin: 16px;
}

.section-1-action-desc-text {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.5px;
}

.section-1-action-desc-payments {
  display: flex;
  align-items: center;
  gap: 4px;
}

.section-2-key-point {
  width: 100%;
  max-width: 538px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 48px;
  border-bottom: 1px solid #e3e3e8;
  padding-bottom: 12px;
  margin-bottom: 24px;
}

.section-2-k-p-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #424153;
}

.section-2-k-p-percent {
  font-weight: 700;
  font-size: 33px;
  line-height: 150%;
  letter-spacing: 0.25px;
  color: #ee6f4b;
}

.section-2-text,
.section-3-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #424153;
}

.section-2-content {
  width: 100%;
  max-width: 570px;
  height: 571px;
  padding-right: 32px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.section-2 {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-2 .section-title {
  width: 100%;
  margin-bottom: 16px;
}

.key-points {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 19px;
  line-height: 150%;
  letter-spacing: 0.5px;
}

.section-2 .section-1-button {
  max-width: 538px;
}

.section-2-image {
  width: 100%;
  max-width: 570px;
  height: 571px;
}

.section-2-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .section-2 {
    flex-direction: column-reverse;
  }
}

.section-3-content {
  width: 100%;
  max-width: 570px;
  height: 280px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 32px;
}

.section-3 .section-title {
  text-align: start;
}

.section-3-image {
  width: 100%;
  max-width: 570px;
  height: 480px;
  border-radius: 10px;
}

.section-3-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.section-3-item {
  width: 100%;
  max-width: 1170px;
  height: 480px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .section-3-item {
    flex-direction: column-reverse;
    height: fit-content;
  }
}

.section-3 {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
  align-items: center;
}
